.symbolocator {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.step {
  margin: 32px;
}
.step-text {
  font-size: large;
}

input[type="text"],
button {
  background: #fff;
  height: 40px;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #ccc;
  width: 320px;
  display: block;
  margin: 0 auto 12px;
}
button {
  cursor: pointer;
}

.submit-btn {
  border: none;
  position: relative;
  background: transparent;
  font-weight: 600;
  color: #EE6C01;
}
.submit-btn::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -2;
  border-radius: 3px;
  background-image: linear-gradient(
    to top right,
    #EE6C01  0%,
    #FECD18  100%
  );
}
.submit-btn::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background: #fff;
  margin: 3px;
}

.deep-search-toggle {
  display: block;
  margin-top: 32px;
}
.deep-search-toggle input {
  position: relative;
  top: -2px;
  margin: 8px;
}

.progress-bar {
  height: 6px;
  margin-bottom: 32px;
}
.progress-bar .progress {
  height: 6px;
  width: 0%;
  transition: width 0.2s ease;
  background-image: linear-gradient(
    to top right,
    #EE6C01  0%,
    #FECD18  100%
  );
}
