.results {
  margin-top: 72px;
  width: 100vw;
  overflow-x: hidden;
}
.result-tabs {
  padding: 12px 64px 0;
}

.result-tab-bar {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #ccc;
}
.result-tab-bar li {
  cursor: pointer;
  height: 36px;
  position: relative;
}
.results .result-tab-bar .matches:after,
.results .result-tab-bar .errors:after,
.results .result-tab-bar .all:after {
  content: '';
  height: 3px;
  width: 0;
  transition: width 0.2s ease-out;
  display: block;
  border-radius: 3px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.results.matches .result-tab-bar .matches:after,
.results.errors .result-tab-bar .errors:after,
.results.all .result-tab-bar .all:after {
  width: 100%;
  background-image: linear-gradient(
    to top right,
    #EE6C01  0%,
    #FECD18  100%
  );
}
.result-tab-panels {
  width: 300vw;
  display: flex;
  transition: transform 0.3s ease-out;
}
.results.errors .result-tab-panels {
  transform: translateX(-33.3333%);
}
.results.all .result-tab-panels {
  transform: translateX(-66.6666%);
}
.result-tab-panels .matches,
.result-tab-panels .errors,
.result-tab-panels .all {
  width: 100vw;
  box-sizing: border-box;
  padding: 0 64px;
}
.result-tab-panels .progress {
  padding-top: 48px;
}

.file-list {
  text-align: left;
}
.file-list .file-list-header {
  cursor: pointer;
  margin: 0 0 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ccc;
}
.file-list .file-list-header .collapse-toggle {
  float: right;
  font-size: 15px;
  font-weight: 400;
  color: #00A4FD;
}
.file-list ul {
  list-style: none;
  text-align: left;
  padding: 0;
  margin: 0;
  font-size: 15px;
}
.file-list.collapsed ul {
  display: none;
}
.file-list ul li {
  border-bottom: 1px solid #ebebeb;
  font-size: 13px;
  line-height: 16px;
  padding: 16px 0;
}

.file-list .empty-state {
  text-align: center;
  margin-top: 80px;
  opacity: 0.3;
}
